@charset "utf-8";
/*
 * @名称: common.css
 * @功能: 全局
 * @作者：钟含武
 * @时间：20160815
 */

/* 防止用户自定义背景颜色对网页的影响 */
html{color:#000;font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust:100%;}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG)*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
/* HTML5 媒体文件跟 img 保持一致*/
audio,canvas,video {display: inline-block;*display: inline;*zoom:1;}
/* 要注意表单元素并不继承父级 font 的问题*/
body,button,input,select,textarea{color:#333;font:14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;_font-family:"SimSun";}
input,select,textarea{font-size:100%;background:#fff; vertical-align:middle;text-rendering: auto;outline:none;}

/* 去掉各Table  cell 的边距并让其边重合，防止表格内文字不能换行*/
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;word-wrap:break-word;word-break:break-all;width:100%;vertical-align:top;}
th,td{vertical-align: top;}

/* IE bug fixed: th 不继承 text-align*/
th{text-align:inherit;}
/* 去除默认边框*/
fieldset,img{border:none;}
/* ie6 7 8(q) 显示为行内表现*/
/* 去掉 firefox 下此元素的边框*/
abbr,acronym{border:none;font-variant:normal;}
/* 一致的 del 样式*/
del {text-decoration:line-through;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:500;}
/* 去掉列表前的标识, li 会继承*/
ol,ul {list-style:none;}
/* 对齐表头*/
caption,th {text-align:left;font-weight:700;}
/* 让标题都自定义, 适应多个系统应用*/
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:700;}
q:before,q:after {content:'';}
/* 统一上标和下标*/
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* 默认不显示下划线，保持页面简洁*/
ins,a { text-decoration:none;}
a{color:#333;}
a:focus {outline: thin dotted #666;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}
a:hover,a:active {outline: 0;text-decoration:underline;}
a:hover{color:#1d7ad9;text-decoration:underline;}
select{border:1px solid #ccc;}
code{white-space:pre;}
/*单字母勾子元素 */
q,i,b{text-decoration:none;font-style:normal;font-weight:normal;}

@font-face {
  font-family: 'iconfont';  /* project id："169980" */
  src: url('//at.alicdn.com/t/font_kv32fs83ag6qolxr.eot');
  src: url('//at.alicdn.com/t/font_kv32fs83ag6qolxr.eot') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_kv32fs83ag6qolxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_kv32fs83ag6qolxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_kv32fs83ag6qolxr.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


/* 清除浮动造成的影响 */
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1; /* for IE6 IE7 */
}

/* 设置内联, 减少浮动带来的bug（其实只在有margin时ie6才会有bug） */
.fn-left {
  float:left;
}
.fn-right {
  float:right;
}
.fn-left,.fn-right {
  _display:inline;
}

/*布局*/
.wrapper{
  max-width: 1140px;
  margin: 0 auto;
}
.row-title {
    padding: 90px 0 40px;
    text-align: center;
}
.row-title h3 {
    color: #2b2b2b;
    font-weight: 900;
    line-height: 1.2;
    font-size:28px;
}
.row-title h5 {
    color: #666;
    margin-top: 20px;
    line-height: 1.5;
    font-size:18px;
    font-weight:400;
}

.header{
  background-color:rgba(255,255,255,0.7);
  position:absolute;
  width:100%;
  text-align: center;
  padding:20px 0;
}
.header .logo{
    display: inline-block;
    text-indent:-9999rem;
    background: url(../images/html5qt_logo_black.svg) 0 no-repeat;
    height: 26px;
    width: 152px;
}
.header .logo-subtit{
  display: none;
}

/*图片展示*/
.header-exhibition{
   background: url(../images/bg_sec1_new.jpg) 0 no-repeat;
   background-size:cover;
   height:680px;
}

/*我的优势*/
#projects {
  background-color:#fafafa;
  padding:10px 0 40px 0;
}
#projects .projects-list li{
  float: left;
  text-align: center;
  width:31%;
  margin-right:3%;
  background-color:#fff;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
    transition: all .2s linear;
    margin-bottom:40px;
}
#projects .projects-list li:hover{
  -o-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  -o-transform: translate3d(0, -2px, 0);
  -moz-transform: translate3d(0, -2px, 0);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0)
}
#projects .projects-list li:nth-child(3n+3){
  margin-right:0;
}
#projects .advantage-box{
    display: block;
    background-color: #fff;
    padding: 60px 40px 0;
    height: 280px;
    box-sizing: border-box;
}
#projects .advantage-box .title{
    font-weight: 900;
    margin-top: 30px;
    font-size:18px;
}

#projects .advantage-box .description{
    margin-top: 20px;
    font-size: 14px;
    color: #999;
}
#projects .advantage-box .iconfont{
  font-size:46px;
  line-height:24px;
}