@charset "utf-8";
/*
 * @名称: activity20161012.css
 * @功能: 全局
 * @作者：钟含武
 * @时间：20161012
 */

/* 防止用户自定义背景颜色对网页的影响 */
html{color:#000;font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust:100%;}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG)*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
/* HTML5 媒体文件跟 img 保持一致*/
audio,canvas,video {display: inline-block;*display: inline;*zoom:1;}
/* 要注意表单元素并不继承父级 font 的问题*/
body,button,input,select,textarea{color:#333;font:14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;_font-family:"SimSun";}
input,select,textarea{font-size:100%;background:#fff; vertical-align:middle;text-rendering: auto;outline:none;}

/* 去掉各Table  cell 的边距并让其边重合，防止表格内文字不能换行*/
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;word-wrap:break-word;word-break:break-all;width:100%;vertical-align:top;}
th,td{vertical-align: top;}

/* IE bug fixed: th 不继承 text-align*/
th{text-align:inherit;}
/* 去除默认边框*/
fieldset,img{border:none;}
/* ie6 7 8(q) 显示为行内表现*/
/* 去掉 firefox 下此元素的边框*/
abbr,acronym{border:none;font-variant:normal;}
/* 一致的 del 样式*/
del {text-decoration:line-through;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:500;}
/* 去掉列表前的标识, li 会继承*/
ol,ul {list-style:none;}
/* 对齐表头*/
caption,th {text-align:left;font-weight:700;}
/* 让标题都自定义, 适应多个系统应用*/
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:700;}
q:before,q:after {content:'';}
/* 统一上标和下标*/
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* 默认不显示下划线，保持页面简洁*/
ins,a { text-decoration:none;}
a{color:#333;}
a:focus {outline: thin dotted #666;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}
a:hover,a:active {outline: 0;text-decoration:underline;}
a:hover{color:#1d7ad9;text-decoration:underline;}
select{border:1px solid #ccc;}
code{white-space:pre;}
/*单字母勾子元素 */
q,i,b{text-decoration:none;font-style:normal;font-weight:normal;}


input[type=radio] {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    line-height: 20px;
    color: #d8d8d8;
}
input[type=radio]:after {
    content: "";
    display:block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  text-align: center;
  line-height: 14px;
  font-size: 16px;
  color: #fff;
    border:1px solid #ddd;
    background-color: #fff;
    padding:2px;
    box-sizing:border-box;
}
input[type=radio]:checked:after {
    content: "L";
    transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    -webkit-transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    border-color: #d7363c;
    background-color: #d7363c;
}

/*矢量字体*/
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1476002748_3525097.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1476002748_3525097.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1476002748_3525097.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1476002748_3525097.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1476002748_3525097.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{font-family:"iconfont";
font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;
-webkit-text-stroke-width: 0.2px;}

*,*:before,*:after {
  -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
      box-sizing:border-box;
}

/* 清除浮动造成的影响 */
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1; /* for IE6 IE7 */
}


/*弹框加载中*/
.g-loading{
  padding: 40px 0;
  text-align: center;
}
@keyframes rotate{
from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg)}
}
  @-webkit-keyframes rotate{
from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate{
from{-moz-transform:rotate(0deg)}
to{-moz-transform:rotate(360deg)}
}
@-ms-keyframes rotate{
from{-ms-transform:rotate(0deg)}
to{-ms-transform:rotate(360deg)}
}
@-o-keyframes rotate{
from{-o-transform:rotate(0deg)}
to{-o-transform:rotate(360deg)}
}
.g-loading .iconfont{
  display: inline-block;
  margin-top:4px;
  font-size:28px;
  line-height:28px;
  -o-animation:1.5s linear 0s normal none infinite rotate;
-moz-animation:1.5s linear 0s normal none infinite rotate;
-webkit-animation:1.5s linear 0s normal none infinite rotate;
  animation: 1.5s linear 0s normal none infinite rotate;
}


/*继承父级元素*/
*,:after,:before{
  box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}
input,select,textarea{
    font-size: 100%;
    background: #fff;
    vertical-align: middle;
    text-rendering: auto;
    outline: none;
}
a,button,input,select,textarea{
  -o-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}





/*成功提示*/
.success-warp{
  padding:0 12px;
}
.success-warp .success-cont{text-align: center;padding:30px 0;color:#999;}
.success-warp .success-cont .success-cont-icon{
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: #fafafa;
    text-align: center;
    line-height: 64px;
}
.success-warp .success-cont .success-cont-icon .iconfont{font-size:46px;color:#27c24c;display: inline-block;line-height:60px;}
.success-warp .success-cont h2{margin-top:12px;font-size:16px;margin-bottom:4px;color:#333;}




/*全局组件*/
.g-tips{position:fixed;top:50%;left:0;width:100%;z-index:1350;margin-top:-28px;text-align:center;}
.g-tips span{display:inline-block;background-color:rgba(0,0,0,0.6);border-radius:6px;color:#fff;
text-align: center;padding:15px 20px;margin:0 12px;line-height:24px;}


/*返回顶部*/
.back-top{
  width:42px;
  height:42px;
  background-color:rgba(255,255,255,0.8);
  border-radius:21px;
  position:fixed;
  bottom:56px;
  right:12px;
  text-align:center;
  line-height:42px;
  display:none;
  border:1px solid #eaeaea;
}
.back-top .iconfont{
  display:inline-block;
  font-size:22px;
}
.back-top:hover .iconfont{
  color:#333;
}


/*圆选择*/
.i-circle{
  display: inline-block;
  width:18px;
  height:18px;
  border:1px solid #333;
  border-radius:9px;
  text-align: center;
  line-height:18px;
  vertical-align:middle;
}
.i-circle .iconfont{
  display: inline-block;
  font-size:12px;
  font-weight:700;
  vertical-align:2px;
  line-height:12px;
  color:#fff;
}
.i-circle-select{
  background-color:#d7363d;
  border-color:#d7363d;
}

/*活动说明*/
.d-apply-declare{
  padding:0 4%;margin-top:15px;
}
.d-declare-cont{
  background-color:#59c2ef;border-radius:4px;padding:15px;
  color:#fff;
}
.d-declare-cont .declare-tit{
  text-align: center;
  font-size:16px;
  margin-bottom:10px;
}
.d-declare-cont .declare-text{
  line-height:24px;
}
.d-declare-cont .declare-line{
  border-top:1px solid #fff;
  margin:10px 0;
}

/*报名信息表*/
.d-apply-wrap{background-color:#98e1fe;}
.d-apply-hd img{width:100%;}
.d-apply-form{padding:0 4%;margin-top:15px;}
.d-apply-form .d-apply-form-cont{background-color:#59c2ef;border-radius:4px;padding:15px;}
.d-apply-form .d-apply-form-cont .tit{text-align: center;font-size:20px;color:#fff;font-weight:400;}
.d-form-list .d-form-item{
    position: relative;
    overflow: hidden;
    margin-top:16px;
}
.d-form-list .item-label{
    position: absolute;
    left: 0;
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    color:#fff;
}
.d-form-list .item-cont{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 54px;
}
.d-form-list .item-input{
    width:100%;
  border:none;
  border-radius:2px;
  padding:4px 12px;
  font-size:14px;
  line-height:30px;
    outline:none;
      -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    background-image: none;
  -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.d-form-btn{
  background-color:#f48f18;
  color:#fff;
  font-size:16px;
  text-align: center;
  text-decoration: none;
  display: block;
  line-height:42px;
  width:100%;
  border-radius:4px;
}
.d-form-btn:hover{
  text-decoration: none;
  color:#fff;
  opacity:0.9;
}
.select-tag{
  background-color:#fff;
  display: inline-block;
  margin-right:12px;
  line-height:36px;
  padding:0 12px;
}
.select-tag input[type=radio],.d-product-item input[type=radio]{
    position: absolute;
    left: -9999px;
}
.select-tag.active{
  background-color:#f48f18;
  color:#fff;
}
.d-get-cont{
  padding:0 4%;
  margin-top:15px;
}
.d-get-btn{
  background-color:#59c2ef;
  color:#fff;
  font-size:20px;
  text-align: center;
  text-decoration: none;
  display: block;
  line-height:54px;
  width:100%;
  border-radius:4px;
}
.d-get-btn:hover{
  text-decoration: none;
  color:#fff;
  opacity:0.9;
}

.d-rule-info{padding:0 4%;margin-top:40px;}
.d-rule-info .info-line{border-top:1px solid #fff;position: relative;}
.d-rule-info .info-line .text{display: inline-block;background-color:#98e1fe;position: absolute;color:#fff;line-height:34px;top:-18px;left:50%;margin-left:-35px;padding:0 15px;}
.d-rule-info .info-cont{padding:20px 0 120px 0;color:#fff;}


/*产品详情*/
.d-product-tabcont .tabcont-item img{
  width:100%;
}
.d-product-form .item-tab-img{
  display: inline-block;
  width:54px;
  height:54px;
  overflow: hidden;
  border:1px solid #fff;
  font-size:0;
  line-height:0;
  margin-right:8px;
  float: left;
}
.d-product-form .item-tab-img img{
  width:100%;
  border:none;
}
.d-product-form .item-tab-img.current{
  border-color:#d7363d;
}
.d-product-tabcont .tabcont-item{
  display: none;
}
.d-product-slide .swiper-slide,.d-product-slide .swiper-wrapper{
  height:auto;
}
.d-product-slide a{
  display: block;
  line-height:0;
}
.d-product-slide .swiper-container{
    width:100%;
    line-height:0;
}
.d-product-slide img{
    max-width: 100%;
    width: 100%;
    line-height:0;
    font-size:0;
}
.d-product-slide .swiper-pagination-bullet{
    width: 6px;
    height: 6px;
}
.d-product-slide .swiper-container-horizontal > .swiper-pagination{
    bottom: 5px !important;
}
.d-product-slide .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet{
    margin: 0 2px !important;
}
.d-product-slide .swiper-pagination-bullet-active{
  background-color:#7f292c;
}
.d-product-detail-cont{
  padding:0 4%;
  margin-bottom:108px;
}
.d-detail-name {
    padding: 12px 0;
    font-size: 15px;
    line-height: 24px;
}
.d-product-list .d-product-item{
    position: relative;
    overflow: hidden;
    margin-top:16px;
}
.d-product-list .d-product-item:first-child{
  margin-top:0;
}
.d-product-list .item-label{
    position: absolute;
    left: 0;
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 15px;
    color:#222;
}
.d-product-list .item-cont{
    padding-left:76px;
}
.d-product-list .item-text{
  padding:10px 0 8px 0;
}
.d-product-list .item-input{
    width:100%;
  border:1px solid #ddd;
  border-radius:2px;
  padding:4px 12px;
  font-size:15px;
  line-height:30px;
    outline:none;
      -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    background-image: none;
  -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.d-product-list .item-input:disabled{
      background-color: #eff2f7;
    border-color: #d3dce6;
    color: #bbb;
    cursor: not-allowed;
}
.d-product-btn{
  background-color:#f48f18;
  color:#fff;
  font-size:16px;
  text-align: center;
  text-decoration: none;
  display: block;
  line-height:42px;
  width:100%;
  border-radius:4px;
}
.d-product-btn:hover{
  text-decoration: none;
  color:#fff;
  opacity:0.9;
}
.d-product-form .item-tag{
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    border: 1px solid #999;
    background-color: #fff;
    padding:4px 14px;
    margin:0 8px 12px 0;
    max-width: 100%;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height:28px;
    color:#444;
    border-radius:4px;
}
.d-product-form .item-tag.active{
  border-color:#d7363d;
  color:#d7363d;
}
.address-select-label{
      position: relative;
    width: 100%;
    display: block;
    margin: 0;
    border:1px solid #ddd;
    padding:4px 10px;
    margin-right:10px;
    border-radius:2px;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
}
.address-select-label:last-child{
  margin-right:0;
}
.address-select-label:after{
    content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #666 transparent transparent;
  border-width: 5px;
  font-size: 0;
  position: absolute;
  right:8px;
  top:16px;
}
.address-select-label .address-select-control{
    display: block;
     -webkit-appearance: none;
 -moz-appearance: none;
 -o-appearance: none;
 border:none;
 line-height:28px;
 color:#999;
}
.d-product-form .address-area{
  margin-bottom:12px;
}
.d-product-form .product-cdkey-handle,.d-product-form .address-area{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.product-cdkey-handle .cdkey-btn{
    border: 0;
    color: #fff;
    font-size: 15px;
    outline: none;
    background-color: #d7363d;
    width:120px;
    margin-left:12px;
    border-radius:4px;
}
.product-cdkey-use{
  padding:10px 0;
  font-size:15px;
  color:#d7363d;
}

.d-product-detail-bar{
   width:100%;
    position: fixed;
    bottom:0;
    left:0;
    z-index:100;
    border-top:1px solid #eaeaea;
    background-color:rgba(255,255,255,0.8);
}
.d-action-bar{
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: box;
    display: -o-flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -o-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.d-action-bar .pay-btn{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
    display: block;
    padding: 0!important;
    position: relative;
        height: 49px;
        line-height:49px;
    text-align: center;
}
.d-action-bar .pay-btn{
    border: 0;
    color: #fff;
    font-size: 16px;
    outline: none;
    background-color:#d7363d;
}
.d-action-bar .pay-btn:hover{
  text-decoration: none;
  opacity:0.9;
}
.d-action-bar .pay-btn em{
  display: inline-block;
  font-size:12px;
  color:#9c0c13;
}
.d-action-bar .price-cost{
    min-width: 32px;
    position: relative;
    display:block;
    background-color:#999;
    color:#fff;
    line-height:49px;
    padding:0 8px;
    height:49px;
}
.d-action-bar .price-now{
    min-width: 32px;
    position: relative;
    display:block;
    background-color:#fb6e52;
    color:#fff;
    height:49px;
    line-height:49px;
    padding:0 8px;
}
.d-action-bar .price-small{
  font-size:12px;
}
.d-action-bar .num{
  font-size:15px;
}


/*报名说明*/
.c-tips-pup{
  display:block;
  height:100%;
  width:100%;
  position:fixed;
  z-index:1200;
  top:0;
  left:0;
  background-color:rgba(0,0,0,0.6);
}
.c-tips-pup .c-tips-pup-wrap{
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index:1201;
}
.c-tips-pup .c-tips-pup-tit{
  border-bottom:1px solid #eee;
  text-align: center;
  line-height:46px;
  font-size: 16px;
  background-color:#fff;
}

.c-tips-pup .c-tips-pup-affirm{
  /*position:fixed;
  width:86%;
  z-index:1000;
  background-color:#fff;
  border-radius:10px;
  top:50%;
  left:50%;
  margin-left:-43%;
  margin-top:-43%;*/
  position: absolute;
    left: 50%;
    right: 0;
    top: 50%;
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width:87.5%;
    margin-left: -43.75%;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
    overflow: hidden;
    z-index:1202;
}
.c-tips-pup .c-tips-pup-affirm .c-task-affirm-popup-cont{
    padding:15px;
    max-height:260px;
    overflow-x: hidden;
    overflow-y: auto;
    line-height:24px;
    background-color:#fafafa;
}
.c-tips-pup .c-tips-pup-affirm .c-task-affirm-popup-btn{
  display: block;
  text-decoration: none;
  text-align: center;
  line-height:48px;
  background-color:#f48f18;
  color:#fff;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  font-size:16px;
  font-weight:700;
  margin-bottom:-1px;
}
.d-cdkey-dialog-ft{
  position: relative;
  line-height: 46px;
  font-size: 17px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  background-color:#fff;
  text-align: center;
}
.d-cdkey-dialog-ft a{
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  color: #3CC51F;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.d-cdkey-dialog-ft a {
  position: relative;
  color:#666;
}
.d-cdkey-dialog-ft a.primary{
  background-color:#f48f18;
  color:#fff;
}
.d-cdkey-dialog-ft a:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  border-left: 1px solid #D5D5D6;
  color: #D5D5D6;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
.d-cdkey-dialog-ft a:first-child:after{
  display: none;
}
.cdkey-popup-hint{
  line-height:20px;
  margin-bottom:10px;
  color:#999;
}
.cdkey-popup-input{
    width:100%;
  border:1px solid #ddd;
  border-radius:2px;
  padding:6px 12px;
  font-size:14px;
  line-height:34px;
  margin-bottom:12px;
    outline:none;
    background-image: none;
  -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    text-align: center;
    font-size:16px;
}
.visible-body{
  overflow: hidden;
}

/*响应式*/
@media all and (max-width:320px){
  .d-form-item-age .select-tag{padding:0 6px;margin-right:6px;}
  .d-form-item-age .select-tag:last-child{margin-right:0;}
  .d-product-list .item-label{font-size:13px;height:38px;line-height:38px;}
  .d-product-list .item-cont{padding-left:66px;}
  .d-product-form .item-tag{padding:2px 12px;}
  .d-product-list .item-input{font-size:13px;}
  .address-select-label{padding:3px 6px;margin-right:4px;}
  .address-select-label:after{right:6px;}
  .d-product-list .item-text{padding-top:8px;padding-bottom:2px;}
}
@media all and (min-width:360px){
  .d-form-item-age .select-tag{padding:0 12px;}
}
@media all and (min-width:375px){
  
}
@media all and (min-width:414px){
}