@charset "UTF-8";
.product-cont{
  padding:10px 0 120px;
}
.sort-by select{
  border:1px solid #eee;
  padding:8px 4px;
}
.cate-main-wrap{
  border:1px solid #eee;
  padding:20px;
}

.cate-main-wrap p{
  margin:0;
  color:#666;
  margin-bottom:6px;
}
.cate-main-wrap dt{
  position:relative;
  cursor: pointer;
  margin-top:12px;
}
.cate-main-wrap dt:first-child{
  margin-top:0;
}
.cate-main-wrap .arrow{
  display:inline-block;
  width: 15px;
  height: 15px;
  background: url("../img/down.png") no-repeat center 5px;
  background-size: 12px;
  position: absolute;
  right:0;
  top:4px;
}
.cate-main-wrap .active .arrow{
  background-image:url("../img/up.png");
}

.product-main-list .saleitem{
  width:25%;
  float: left;
  margin-bottom:20px;
}

.product-main-list .wrapper-daleitem{
  padding:0 8px;
  height:420px;
}
.wrapper-item img{
  width:100%;
}
.title-grid {
    padding-top: 8px;
}
.product-name a {
    color: #333;
    font-weight:400;
}
.products-grid .wrapper-item .price-box {
    margin: 2px 0;
}
.price-box .special-price {
    margin-right: 10px;
    font-weight:700;
}
.old-price{
    text-decoration: line-through;
    color: #999;
    font-size:14px;
}

.load-more{
  padding:20px 0;
  text-align: center;
}
.load-more .more-btn{
   display: inline-block;
   line-height:46px;
   padding:0 45px;
   color:#333;
   border:1px solid #eee;
   cursor: pointer;
}
.load-more .more-btn:hover{
  background-color:#f2f2f2;
}


.product-main-list .title-grid .brand-tit, .product-main-list .title-grid .login-price {
    margin: 0;
    color: #999;
    font-size: 15px;
}
.product-main-list .pro-name {
    display: inline-block;
    color: #333;
    font-size: 16px;
    padding:6px 0;
    font-weight: 600;
    line-height:20px;
}