@charset "utf-8";
/*
 * @名称: base.css
 * @功能: 初始化各html标签，使其在所有浏览器下保持一致
 * @作者：钟含武
 * @时间：20160422
 */

/* 防止用户自定义背景颜色对网页的影响 */
html{color:#333;font-size: 100%;}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;padding:0;
}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG)*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
/* HTML5 媒体文件跟 img 保持一致*/
audio,canvas,video {display: inline-block;*display: inline;*zoom:1;}
/* 要注意表单元素并不继承父级 font 的问题*/
body,button,input,select,textarea{color:#333;font:14px/1.5 "Microsoft Yahei","Hiragino Sans GB",sans-serif;_font-family:"SimSun";}
input,select,textarea{font-size:100%;background:#fff; vertical-align:middle;text-rendering: auto;outline:none}

/* 去掉各Table  cell 的边距并让其边重合，防止表格内文字不能换行*/
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;word-wrap:break-word;word-break:break-all;width:100%;vertical-align:top;}
th,td{vertical-align: top;}

/* IE bug fixed: th 不继承 text-align*/
th{text-align:inherit;}
/* 去除默认边框*/
fieldset,img{border:none;}
/* ie6 7 8(q) 显示为行内表现*/
/* 去掉 firefox 下此元素的边框*/
abbr,acronym{border:none;font-variant:normal;}
/* 一致的 del 样式*/
del {text-decoration:line-through;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:500;}
/* 去掉列表前的标识, li 会继承*/
ol,ul {list-style:none;}
/* 对齐表头*/
caption,th {text-align:left;font-weight:700;}
/* 让标题都自定义, 适应多个系统应用*/
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:700;}
q:before,q:after {content:'';}
/* 统一上标和下标*/
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* 默认不显示下划线，保持页面简洁*/
ins,a {	text-decoration:none;}
a{color:#333;}
a:focus {outline: thin dotted #666;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}
a:hover,a:active {outline: 0;text-decoration:underline;}
a:hover{color:#0db09b;text-decoration:underline;}
select{border:1px solid #ccc;}
code{white-space:pre;}
/*单字母勾子元素 */
q,i,b{text-decoration:none;font-style:normal;font-weight:normal;}

*{box-sizing:border-box;}
html{
/*针对此实例的代码*/
  display: table;
  min-width:100%;
  height: 100%;/*为什么不给html一个min-height:100%，而是height，因为通过min-height给的高度，子元素无法对其做高度百分比计算*/
}
body{
  /*针对此实例的代码*/
  display: table-cell;
  /*针对此实例的代码 End*/
}
body,html{background-color:#f0f0f0;}


/*重置bootstrap样式*/
.btn-warning {
    color: #fff;
    background-color: #ff8903;
    border-color: #ff8903;
}
.btn-warning-outline {
    color: #ff8903;
    background-color: transparent;
    border-color: #ff8903;
}
.text-warning {
  color: #ff8903;
}
.btn-warning.disabled:hover, .btn-warning:disabled:hover, fieldset[disabled] .btn-warning:hover{
    cursor: not-allowed;
    color: #ccc;
    background-color: #f5f5f5;
}
.btn-warning.block-disabled{
  background-color:#d3d3d3;
  border-color:#d3d3d3;
  color:#fff;
  cursor: not-allowed;
}

/*矢量字体*/
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1464169588_6910627.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1464169588_6910627.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1464169588_6910627.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1464169588_6910627.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1464169588_6910627.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{font-family:"iconfont";
font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;
-webkit-text-stroke-width: 0.2px;}



/* 清除浮动造成的影响 */
.fn-clear:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.fn-clear {
	zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
	display:none;
}

/* 设置内联, 减少浮动带来的bug（其实只在有margin时ie6才会有bug） */
.fn-left {
	float:left;
}
.fn-right {
	float:right;
}
.fn-left,.fn-right {
	_display:inline;
}

/* block 格式化上下文 */
.fn-block{
  overflow:hidden;
  zoom:1;
}

/*顶部静止*/
.fn-fixedtop{
    position: fixed;
   _position: absolute;
    top:0;
   _top:expression(eval(documentElement.scrollTop));
}

/*底部静止  性能比顶部静止更差*/
.fn-fixedbottom{
    position: fixed;
   _position:absolute;
    bottom:0;
    width:100%;
    z-index:1420;
   _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)) - 0)
 }

/*无定位*/
.no-fixed{position:static !important;}

/* debug */
.fn-debug{
	border:1px solid #f00;
}

.fn-rmb{
	color:#e4393c;
}
.fn-grey{
	color:#999;
}
.fn-green{
	color:#39b44a;
}
.fn-uncond{
	color:#ddd;
}
.fn-orange{
  color:#ff6600 !important;
}
.bg-white{background-color:#fff;}
.bg-grey{background-color:#f0f3f4;}
.bg-red{background-color:#f5524b;}
.b-t{border-top:1px solid #ebebeb;}
.b-b{border-bottom:1px solid #ebebeb;}
.b-r{border-right:1px solid #ebebeb;}
.m-t-5{margin-top:5px;}
.m-t-10{margin-top:10px;}
.m-b-10{margin-bottom:10px;}
.m-r-8{margin-right:8px;}
.m-l-8{margin-left:8px;}
/*.m-t-48{padding-top:48px;}*/
.p-v-10{padding-top:10px !important;padding-bottom:10px !important;}
.p-v-5{padding-top:5px !important;padding-bottom:5px !important;}
.p-t-52{padding-top:54px;}
/*.p-t-48{padding-top:48px;}*/
.p-t-none{padding-top:0 !important;}
.m-t-none{margin-top:0 !important;}
.text-grey{color:#bebebe;}
.text-white{color:#fff;}
.img-responsive{width:100%;}
.btn-block{line-height:42px;padding:0;border-radius:21px;}
/*全局组件*/
.g-tips{position:fixed;top:50%;left:0;width:100%;z-index:1050;margin-top:-28px;text-align:center;}
.g-tips span{display:inline-block;background-color:rgba(0,0,0,0.6);border-radius:6px;color:#fff;
text-align: center;padding:20px 10px;margin:0 15px;line-height:24px;}
.g-loading{position:fixed;top:50%;left:50%;width:150px;padding:20px 10px;z-index:1050;color:#fff;
text-align: center;margin-left:-85px;margin-top:-28px;}
.g-loading .iconfont,.preloader .iconfont{
  font-size:28px;
  display:inline-block;
  animation: 1.5s linear 0s normal none infinite rotate;
-webkit-animation:1.5s linear 0s normal none infinite rotate;
-moz-animation:1.5s linear 0s normal none infinite rotate;
-ms-animation:1.5s linear 0s normal none infinite rotate;
-o-animation:1.5s linear 0s normal none infinite rotate;
}
@keyframes rotate{
from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg)}
}
@-webkit-keyframes rotate{
from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate{
from{-moz-transform:rotate(0deg)}
to{-moz-transform:rotate(360deg)}
}
@-ms-keyframes rotate{
from{-ms-transform:rotate(0deg)}
to{-ms-transform:rotate(360deg)}
}
@-o-keyframes rotate{
from{-o-transform:rotate(0deg)}
to{-o-transform:rotate(360deg)}
}
.g-mask{position:fixed;left:0;top:0;width:100%;height:100%;z-index:1000;background-color:rgba(0,0,0,0.4);}
.preloader .iconfont{font-size: 14px;line-height: 14px;}

/* sco.message.js */
#page_message {
  display: none;
  font-size: 15px;
  overflow: visible;
  text-align: center;
   top: 50%;
    left: 50%;
  /* place over all elements, also over modals */
  z-index: 10001;
  color:#fff;
  position: fixed;
    width: 150px;
    padding: 20px 10px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 6px;
    margin-left: -85px;
    margin-top: -28px;
}


.page_mess_animate {
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  -webkit-background-size: 10px 10px;
  -moz-background-size: 10px 10px;
  -o-background-size: 10px 10px;
  background-size: 10px 10px;
  -webkit-animation: animate-bg 3s linear infinite;
  -moz-animation: animate-bg 3s linear infinite;
  -ms-animation: animate-bg 3s linear infinite;
  -o-animation: animate-bg 3s linear infinite;
  animation: animate-bg 3s linear infinite;
}

@-moz-keyframes animate-bg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -20px 0;
  }
}

@-webkit-keyframes animate-bg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -20px 0;
  }
}

@-o-keyframes animate-bg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -20px 0;
  }
}

@-ms-keyframes animate-bg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -20px 0;
  }
}

@keyframes animate-bg {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -20px 0;
  }
}


/*头部导航*/
.m-head{
  background:#fff;
  height:48px;
  line-height:48px;
  border-bottom:1px solid #e1e1e1;
  width:100%;
}
.m-head .m-back{
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 10px;
  padding-right:20px;
  height:47px;
  line-height: 47px;
  color:#777;
  z-index:44;
  text-decoration:none;
}
.m-head .m-back .iconfont{
  font-size:20px
}
.m-head .m-share,.m-head .m-tips,.m-head .m-search,.m-head .filtrate,.m-head .m-cancel{
  position: absolute;
  right: 0;
  top: 0;
  padding:0 10px 0 20px;
  height:47px;
  line-height: 47px;
  font-size:16px;
  cursor: pointer;
  text-decoration: none;
  color:#b6b6b6;
}
.m-head .m-tips{
  padding-right:15px;
  color:#999;
}
.m-head .m-back:hover,.m-head .m-share:hover,.m-head .m-cancel:hover{
  text-decoration:none;
  background-color:#fafafa;
}
.m-head .filtrate{
  font-size:14px;
  color:#b6b6b6;
  line-height:46px;
}
.m-head .head-tit{
  text-align:center;
  font-size:18px;
  margin:0;
  line-height:48px;
  width:100%;
  margin:0 auto;
   overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight:700;
  position:absolute;
  top:0;
  left:0;
	color:#333333;
}
.m-head .m-search .iconfont{
  font-size:22px;
}
.m-head .m-cancel{
  font-size:14px;
}

/*菜单导航*/
.fix-nav{
  width:100%;
  height:49px;
  border-top:1px solid #ddd;
  background-color:#f7f7f7;
  position: fixed;
  bottom:0;
  left:0;
  z-index:120;
}
.fix-nav .fix-nav-item{
  display:block;
  height:49px;
  width:33.33%;
  float: left;
  text-align: center;
  position:relative;
  color:#929292;
  text-decoration: none;
}
.fix-nav .fix-nav-item:hover{
  background-color:#f3f2f2;
}
.fix-nav .fix-nav-item .iconfont{
  display: inline-block;
  font-size:20px;
  line-height:12px;
  margin-top:12px;
  color:#666;
}
.fix-nav .fix-nav-item p{
  line-height:12px;
  font-size:10px;
}
.fix-nav .fix-nav-item.active .iconfont,.fix-nav .fix-nav-item.active p{
  color:#08a692;
}
.fix-nav .fix-nav-item .fix-nav-label{
  display:inline-block;
  position:absolute;
  font-size:12px;
  background-color:#fe3835;
  color:#fff;
  line-height:16px;
  padding:0 5px;
  border-radius:8px;
  top:2px;
  left:50%;
  margin-left:4px;
}

/*首页*/
.city-select{
    overflow: hidden;
    color: #fff;
		position: absolute;
		left:0;
		top:0;
		z-index:44;
		height:46px;
		line-height: 32px;
		padding:14px 10px 0 10px;
}
.city-select:hover{
	background-color:#fafafa;
	text-decoration: none;
}
.city-select .city{
    height: 24px;
    line-height: 24px;
    overflow: hidden;
		display: inline-block;
    float: left;
    color: #b6b6b6;
    padding: 0;
    font-size: 14px;
}
.city-select .city-ico{
    width: 12px;
    height: 24px;
    float: left;
    position: relative;
		display: inline-block;
}
.city-select .city-ico:after {
    border: 4px solid transparent;
    border-top-color:#b6b6b6;
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
}
.index-warp{height:100%;background-color:#f5524b;width:100%;}


/*城市切换*/
.city-page .current-city {
    height: 58px;
    line-height: 58px;
    text-align: center;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}
.city-page .current-city a,.city-page .current-city em {
    color:#ff8903;
}
.city-page .city-info-list{margin-top:12px;background-color:#fff;}
.city-page h3{    
    border-bottom: 2px solid #eaeaea;
    font-size: 14px;
    color: #777;
    height: 30px;
    line-height: 30px;
    padding-left: 4.21875%;
}
.city-page .city-info-list ul{
    position: relative;
    bottom: -1px;
}
.city-page .col-3 li {
    width: 33%;
}
.city-page .col-5 li {
    width: 19.8%;
}
.city-page .city-info-list ul li{
    float: left;
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-bottom: 1px dotted #ddd;
    border-right: 1px dotted #ddd;
}
.city-page .city-info-list ul li a{
  display: block;
  text-decoration: none;
}
.city-page .col-3 li:nth-child(3n+3),.city-page .col-5 li:nth-child(5n+5){
  border-right:none;
}

/*筛选*/
.filtrate-select{
    position: absolute;
    left: 0;
    top: 48px;
    color: #323232;
    width: 100%;
    font-size: 15px;
    overflow-y: hidden;
    background-color: #fff;
    z-index:100;
    display: none;
}
.filtrate-select ul li a{
    display: block;
    height: 45px;
    line-height: 45px;
    color: #323232;
    overflow: hidden;
    padding-left:15px;
    border-bottom:1px solid #eaeaea;
    position: relative;
    text-decoration: none;
}
.filtrate-select ul li a:hover{
  background-color:#fafafa;
}
.filtrate-select ul li a .filtrate-checked{
  display: inline-block;
  color:#08a692;
  position:absolute;
  right:15px;
  top:50%;
  line-height:16px;
  font-size:16px;
  margin-top:-8px;
  display:none;
}

.filtrate-select ul .active a .filtrate-checked{
  display: block;
}
/*产品介绍*/
.ub-product-img img{line-height:0;font-size:0;}

/*验证码发送*/
.form-position{
    border-radius: .25rem;background-color:#fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    position: relative;
}
.form-position .input-icon
{
  position: absolute;
  left:10px;
  top:5px;
  color:#0db09b;
}
.form-position input[type=text],.form-position input[type=date],.form-position input[type=time],.form-position input[type=tel],.form-position input[type=password],.form-position input[type=week],.form-position select,.cash-form .bank-card-info{
  -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    display: block;
     -webkit-appearance: none;
 -moz-appearance: none;
 -o-appearance: none;
}
.v-code{display: inline-block;padding:5px 12px;border-radius:4px;font-size:12px;background-color:#5cb85c;color:#fff;margin:4px 4px 0 0;}
.v-code-disable{cursor: not-allowed;
    color: #ccc;
    background-color:#f5f5f5;
    border:1px solid #ddd;
    padding:4px 11px;
}

/*tab 切换*/
.detail-tab{background-color:#fff;width:100%;border-bottom:1px solid #ebebeb;}
.detail-tab a{display: block;line-height:42px;width:50%;float: left;text-align: center;color:#333;border-bottom: 1px solid #f0f3f4;font-size:12px;}
.detail-tab a:hover{text-decoration: none;color:#666;}
.detail-tab a.current{color:#52b786;border-bottom: 1px solid #52b786;font-weight:700;}
.detail-tab-3 a{width:33.333%;}
.detail-tab-4 a{width:25%;}


/*登录*/
/*.login-wrap-bg{background:url("../img/login-wrap-bg.jpg") 0 0 no-repeat;background-size: cover;}*/
.login-wrap-bg{background-color:#0db09b;}
.login-wrap{
    width: 100%;
    display: block;
}
.login-logo{
	text-align:center;
	padding:25px 0;
}
.login-logo img{
	width:100px;
}
.login-wrap .btn-warning,.index-warp .btn-warning{background-color:#ff9933;color:#fff;border-color:#ff9933;}
.login-wrap input{border:none;}
.login-wrap .form-position{
	background-color:#26b8a5;
	color:#fff;
	border-radius:21px;
	height:42px;
	line-height:42px;
}
.login-wrap .form-control{
	background-color:#26b8a5;
	color:#fff;
	border-radius:21px;
	height:42px;
	outline: none;
}
.login-wrap .form-control::-webkit-input-placeholder{ /* WebKit browsers */
color:#059885;
}
.login-wrap .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color:#059885;
}
.login-wrap .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
color:#059885;
}
.login-wrap .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
color:#059885;
}
.login-wrap .form-position .input-icon{
	color:#fff;
	top:50%;
	line-height:12px;
	margin-top:-6px;
	margin-left:2px;
}
.login-wrap .v-code-disable{
	background-color:#20ae9c;
	border-color:#20ae9c;
	color:#0b9887;
}
.login-wrap .v-code{
	line-height:16px;
	border-radius:16px;
}
.login-btn,.common-btn-yellow{
	display:block;
	text-align: center;
	background-color:#fff;
	height:42px;
	line-height:42px;
	border-radius:21px;
	color:#0db09b;
	font-size:16px;
	text-decoration: none;
}
.login-btn:hover{
	opacity:0.9;
	text-decoration: none;
	color:#0db09b;
}
.login-wrap .btn.login-btn-disabled,.login-wrap .btn.login-btn-disabled:hover,.login-wrap .btn.login-btn-disabled:active{background-color:#e2413a;box-shadow:none;color:#ce322b;cursor:not-allowed;}
.login-wrap .login-text-link{color:#feb5b2;text-align:center;}
.login-wrap .login-text-link a{color:#fff;text-decoration:underline;}
.oauth-login{
	padding:30px 0 20px 0;
}
.oauth-login .seperator {
    display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
}
.oauth-login .seperator .line {
    background: #fff;
    height: 1px;
    -webkit-box-flex: 1;
}
.oauth-login .seperator .text {
    color: #fff;
    font-size: 15px;
		padding:0 10px;
}
.oauth-login .oauth-login-icon{
    margin-top: 20px;
    text-align:center;
}
.oauth-login .oauth-login-icon a{
	display: inline-block;
	width:46px;
	height:46px;
	background-color:#fff;
	border-radius:50%;
	line-height:52px;
	margin:0 5px;
	text-decoration: none;
}
.oauth-login .oauth-login-icon a:hover{
	opacity:0.9;
}
.oauth-login .oauth-login-icon a .iconfont{
	display:inline-block;
	font-size:28px;
	line-height:28px;
}
.oauth-login .oauth-login-icon a.icon-qq .iconfont{
	color:#0db09b;
}
.oauth-login .oauth-login-icon a.icon-weixin .iconfont{
	color:#39b430;
}

/*补充个人资料*/
.register-wrap .form-position{border-bottom:1px solid #ddd;padding:8px 0;}
.register-wrap .register-form .form-group{margin-bottom:0;}
.register-wrap input,.register-wrap select,.recommend-clients-cont select{border:none;}
.register-wrap select,.cash-form .form-select-label select,.recommend-clients-cont select,.task-details-cont .details-cancel .details-cancel-input .form-select-label select{margin-right:10px; -webkit-appearance: none;
 -moz-appearance: none;
 -o-appearance: none;}
.register-wrap  .form-position .iconfont{top:13px;}
.register-wrap .v-code,.register-wrap .v-code-disable{margin-right:15px;}
.register-wrap .form-select-label,.cash-form .form-select-label,.recommend-clients-cont .form-select-label,.task-details-cont .details-cancel .details-cancel-input .form-select-label{position: relative;width:100%;display: block;margin:0;}
.register-wrap .form-select-label:after,.cash-form .form-select-label:after,.recommend-clients-cont .form-select-label:after,.task-details-cont .details-cancel .details-cancel-input .form-select-label:after{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #666 transparent transparent;
  border-width: 6px;
  font-size: 0;
  position: absolute;
  right: 14px;
  top:16px;
}
.register-wrap input[type="date"],.approve-certification-form input[type="date"]{
  line-height:28px;
	padding:1px 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
}
.register-wrap .further-information-form .label-text{
  left:10px !important;
}
.register-wrap .further-information-form .form-position{
  padding-left:80px !important;
}

/*可接任务*/
.access-task-item{display: block;text-decoration:none;background-color:#fff;margin-top:14px;position: relative;}
.access-task-item:hover{text-decoration: none;color:#333;}
.access-task-item .date{line-height:38px;padding:0 12px;border-bottom:1px solid #eaeaea;font-size:14px;}
.access-task-item .date .iconfont{font-size:12px;display: inline-block;color:#999;margin-right:4px;}
.access-task-item .info{position:relative;padding:12px 20px 12px 12px;}
.access-task-item .info .info-pic{width:60px;height:60px;border-radius:50%;position:absolute;left:12px;top:12px;}
.access-task-item .info .right-arrow{
  position: absolute;
    right: 12px;
    line-height: 14px;
    top: 50%;
    margin-top: -7px;
    color: #ddd;
    font-size: 14px;
}
.access-task-item .info .name{margin-top:2px;margin-bottom:2px;font-size:15px;}
.access-task-item .info .name .iconfont{display: inline-block;font-size:14px;margin-right:5px;line-height:14px;}
.access-task-item .info .name .male{color:#62afef;}
.access-task-item .info .name .woman{color:#52b786;}
.access-task-item .info .location span{display: inline-block;font-size:12px;margin-right:8px;color:#999;font-weight:normal;}
.access-task-item .info .location span .iconfont{font-size:13px;}
.access-task-item .info .info-money{position:absolute;right:36px;top:14px;font-size:24px;color:#000;}
.access-task-item .info .info-money em{display: inline-block;font-size:15px;margin-left:4px;}
.access-money{display: inline-block;border:3px solid #fff;width:42px;height:42px;background-color:#ff9c6c;color:#fff;position: absolute;border-radius:50%;text-align: center;top:-10px;right:6px;}
.access-money em{display: inline-block;font-size:8px;line-height:6px;}
.access-money em .iconfont{font-size:12px;display: inline-block;}
.access-money strong{display:block;font-size:14px;line-height:6px;}
.access-money-dark{background-color:#9a9a9a;}
.access-label{display: inline-block;background-color:#52b786;line-height:14px;color:#fff;padding:2px 10px;border-radius:10px;font-size:10px;}
.access-label-dark{background-color:#9a9a9a;color:#fff;}
.access-label-red{background-color:#fe3835;color:#fff}
.access-label-yellow{background-color:#ff9933;color:#fff}
.access-label-success{background-color:#52b786;color:#fff}



 /*任务详情*/
.task-details-wrap{padding-bottom:100px;background-color:#fff;}
.task-details-cont{display: block;text-decoration:none;background-color:#fff;position: relative;}
.task-details-cont .date{line-height:46px;padding:0 12px;border-bottom:1px solid #eaeaea;font-size:14px;}
.task-details-cont .date .date-money{float:right;color: #999;font-size:12px;}
.task-details-cont .date .date-money strong{color:#ff9933;font-size:20px;}
.task-details-cont .date .iconfont{font-size:12px;display: inline-block;color:#999;margin-right:4px;}
.task-details-cont .info{position:relative;padding:12px 20px 12px 12px;}
.task-details-cont .info .info-pic{width:60px;height:60px;border-radius:50%;position:absolute;left:12px;top:12px;}
.task-details-cont .info .right-arrow{
  position: absolute;
    right: 12px;
    line-height: 14px;
    top: 50%;
    margin-top: -7px;
    color: #ddd;
    font-size: 14px;
}
.task-details-cont .info .name{margin-top:2px;margin-bottom:2px;}
.task-details-cont .info .name .iconfont{display: inline-block;font-size:14px;margin-right:5px;line-height:14px;}
.task-details-cont .info .name .male{color:#62afef;}
.task-details-cont .info .name .woman{color:#52b786;}
.task-details-cont .info .location span{display: inline-block;font-size:13px;margin-right:8px;color:#999;}

.task-details-cont .info .info-money{position:absolute;right:36px;top:14px;font-size:24px;color:#000;}
.task-details-cont .info .info-money em{display: inline-block;font-size:15px;margin-left:4px;}

.task-details-cont .task-details-money{text-align: center;border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea;line-height: 42px;color: #999;font-size:12px;}
.task-details-cont .task-details-money strong{color:#ff9933;font-size:20px;}
.task-details-cont .task-details-remark{padding:12px 12px;font-size:13px;line-height:22px;color:#666;}
.task-details-cont .task-details-remark span{display: inline-block;color:#999;margin-bottom:4px;}
.task-details-cont .contact{padding:8px 0 20px 0;position:absolute;right:10px;top:2px;}
.task-details-cont .contact .contact-icon{display: inline-block;width:42px;height:42px;line-height:42px;border:1px solid #ff9933;border-radius:50%;color:#ff9933;margin-right:8px;text-align: center;text-decoration: none;}
.task-details-cont .contact .contact-icon .iconfont{display: inline-block;font-size:24px;line-height:12px;}
.task-details-cont .contact .contact-icon:hover{opacity:0.9;text-decoration: none;}
.task-details-cont .changetime{border-top:1px solid #eaeaea;padding:15px 0;position:relative;background-color:#fff;}
.task-details-cont .changetime .tit{display: inline-block;position: absolute;top:-12px;background-color:#fff;padding:2px 5px;left:50%;margin-left:-20px;color:#999;}
.task-details-cont .changetime-form .form-position .form-control{border:1px solid #eaeaea;line-height:14px;}
.task-details-cont .changetime-input{padding:6px 2.5%;}
.task-details-cont .changetime-input .form-control{float: left;width:24%;line-height:22px;margin-right:2%;border-color:#eaeaea;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.task-details-cont .changetime-input .form-control:first-child{
  width:45%;
}
.task-details-change-wrap .changetime-input .changetime-tits{color:#999;}
.task-details-cont .changetime-btn{display:block;float: left;width:26%;height:35px;line-height:35px;background-color:#ff9933;border-radius:4px;color:#fff;text-decoration:none;text-align: center;}

.task-details-cont .changetime-result{text-align: center;padding:10px 0;font-size:18px;}


.task-details-cont .details-cancel{border-top:1px solid #eaeaea;padding:15px 0;position:relative;}

.task-details-cont .details-cancel .tit{display: inline-block;position: absolute;top:-12px;background-color:#fff;padding:2px 5px;left:50%;margin-left:-20px;color:#999;}
.task-details-cont .details-cancel .details-cancel-input{padding:15px 12px;}
.task-details-cont .details-cancel .details-cancel-input select{border-color:#eaeaea;}
.task-details-cont .details-cancel .details-cancel-textarea textarea{border:1px solid #eaeaea;-webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;}



/*我的任务*/
.access-task-handle{border-top:1px solid #eaeaea;padding:10px 0 10px 2%;overflow: hidden;zoom:1;text-align: center;}
.access-task-handle .access-btn{display:inline-block;font-size:12px;color:#000;border:1px solid #e6e6e6;line-height:32px;width:30%;margin-right:2%;text-align: center;border-radius:4px;text-decoration:none;position: relative;}
.access-task-handle .access-btn:hover{color:#333;background-color:#f0f0f0;}
.access-task-handle .access-btn .iconfont{font-size:14px;line-height:14px;display: inline-block;color:#999;}
.access-task-handle .access-btn.access-btn-task{background-color:#ff9933;color:#fff;border-color:#ff9933;}
.access-task-handle .access-btn.access-btn-task .iconfont{color:#fff;}
.access-task-handle .access-btn .circle-tip{display: inline-block;background-color:#fe3835;width:6px;height:6px;border-radius:3px;position: absolute;top:8px;}
.access-task-item-link{display:block;text-decoration: none;position: relative;}
.access-task-item-link .right-arrow{
  position: absolute;
    right: 12px;
    line-height: 14px;
    top: 50%;
    margin-top: -7px;
    color: #ddd;
    font-size: 14px;
}

/*我的个人中心*/
.user-wrap{margin-bottom:60px;}
.user-wrap .head-portrait{display: block;background-color:#fff;margin-top:12px;padding:12px 40px 12px 90px;position:relative;height:84px;text-decoration: none;}
.user-wrap .head-portrait:hover{
  color:#666;
  background-color:#fafafa;
}
.user-wrap .head-portrait .head-portrait-img{width:60px;height:60px;border-radius:50%;position:absolute;left:12px;top:12px;}
.user-wrap .head-portrait h4{margin-top:12px;}
.user-wrap .head-portrait p{color:#999;}
.user-menu-list li a,.user-menu-list li a:active{display: block;padding:6px 40px 6px 40px;line-height:36px;position: relative;font-size:15px;text-decoration: none;color:#333;}
.user-menu-list li a .menu-icon{display: inline-block;padding:6px 5px;border-radius:4px;line-height:14px;position:absolute;left:6px;top:10px;}
.user-menu-list li a .menu-icon .iconfont{font-size:20px;}
.user-menu-list li a .right-arrow,.user-wrap .head-portrait .right-arrow{position: absolute;right:12px;line-height:14px;top:50%;margin-top:-7px;color:#ddd;font-size:14px;}
.user-menu-list li a .menu-tag{display:inline-block;position: absolute;right:40px;font-size:14px;color:#fe3835;}
.user-menu-list li a:hover{background-color:#f0f3f4;text-decoration: none;}
.menu-text-orange{color:#f58837;}
.menu-text-cyan{color:#08a692;}
.menu-text-green{color:#67d022;}
.menu-text-yellowish{color:#ffc713;}
.menu-text-blue{color:#10adff;}
.menu-text-dark{color:#7f8589;}
.common-btn-yellow{
  display:inline-block;
  background-color:#ff9933;
  color:#fff;
  width:180px;
  text-decoration: none;
}
.common-btn-yellow:hover{
  color:#fff;
  opacity:0.9;
  text-decoration: none;
}


/*培训*/
.train-wrap .train-item a{display:block;background-color:#fff;border-bottom:1px solid #eaeaea;position:relative;padding:15px 26px 15px 72px;min-height:80px;text-decoration:none;}
.train-wrap .train-item a:hover{background-color:#f0f3f4;text-decoration: none;color:#666;}
.train-wrap .train-item h4{margin-top:15px;}
.train-wrap .train-item .right-arrow{
  position: absolute;
    right: 12px;
    line-height: 14px;
    top: 50%;
    margin-top: -7px;
    color: #ddd;
    font-size: 14px;
  }
.train-wrap .train-item .train-icon{display: inline-block;height:46px;width:46px;border-radius:50%;text-align:center;line-height:46px;position: absolute;left:12px;top:15px;}
.train-wrap .train-item .train-icon .iconfont{font-size:26px;}

/*示例演示*/
.ex-demopup{
  display:block;
  height:100%;
  width:100%;
  position:fixed;
  z-index:1200;
  top:0;
  left:0;
  background-color:rgba(0,0,0,0.8);
}
.ex-demopup .ex-demopup-img{
  width:280px;
  position:absolute;
  top:50%;
  left:50%;
  margin-left: -140px;
  margin-top:-120px;
}
.ex-demopup .ex-demopup-close{
  display:inline-block;
  position:absolute;
  right:10px;
  top:10px;
}
.ex-demopup .ex-demopup-close .iconfont{
  color:#fff;
  font-size:34px;
  line-height:28px;
}
.ex-demopup .ex-demopup-cont{
  width:90%;
  position:absolute;
  top:50%;
  left:50%;
  margin-left: -45%;
  margin-top:-50%;
  color:#fff;
}
.ex-demopup .ex-demopup-cont p{
  font-size:12px;
  margin-top:10px;
}
.response-img{width:100%}

/*推荐有礼*/
.invite-wrap{padding-bottom:60px;}
.invite-wrap .invite-hd{background-color:#fff;}
.invite-wrap .invite-hd .invite-hd-pic{width:100%;}
.invite-wrap .invite-hd .invite-rule{text-align: center;padding:10px 0;color:#999;}
.invite-wrap .invite-hd .invite-rule a{text-decoration: none;color:#999;font-size:13px;display: inline-block;padding:10px;}
.invite-wrap .invite-hd .invite-rule a .iconfont{font-size:10px;line-height:10px;}

.invite-wrap .invite-share{padding:30px 0 20px 0;}
.invite-wrap .invite-share ul li{width:33.333%;float: left;text-align: center;font-size:12px;}
.invite-wrap .invite-share ul li a{
  display: inline-block;text-decoration: none;background-color:#fff;text-align: center;
  border-radius:50%;
  width:56px;
  height:56px;
  line-height:56px;
}
.invite-wrap .invite-share ul li a .iconfont{
  display: inline-block;
  font-size:28px;
}
.invite-wrap .invite-share ul li a:hover{
  opacity:0.9;
}
.invite-wrap .invite-share ul li p{margin-top:5px;}


/*个人信息*/
.account-info .form-position{padding-left:80px !important;}
.account-info .label-text{left:10px !important;}
.account-info input[type="date"]{line-height:20px;-webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;}

/*我的消息 .fn-fixed-mt{padding-top:57px;} */
.message-wrap{padding:0 12px;margin-bottom:40px;}
.message-wrap .message-item{padding-top:20px;}
.message-wrap .message-item dt{text-align: center;font-weight:400;color:#999;margin-bottom:4px;font-size:12px;}
.message-wrap .message-item dd{background-color:#fff;border:1px solid #eaeaea;padding:10px 0 0 0;border-radius:8px;position:relative;}
.message-wrap .message-item .cont-txt{margin:8px 0;white-space:nowrap; overflow:hidden;text-overflow:ellipsis;}
.message-wrap .message-item .date{color:#999;margin-top:3px;display: inline-block;margin-bottom:6px;}
.message-wrap .message-item .note{color:#999;margin-top:6px;font-size:12px;}
.message-wrap .message-item h4{line-height:24px;}
.message-wrap .message-item h4,.message-wrap .message-item .cont-txt{padding:0 10px;}
.message-wrap .message-item .source{color:#999;font-size:12px;padding:5px 10px;}
.message-wrap .message-item .item-link{display:block;padding:10px 10px;border-top:1px solid #eaeaea;position:relative;text-decoration:none;color:#999;}
.message-wrap .message-item .item-link:hover{background-color:#fafafa;border-bottom-left-radius:8px;border-bottom-right-radius:8px;}
.message-wrap .message-item .item-link .right-arrow{display:inline-block;line-height:12px;position:absolute;right:10px;top:50%;margin-top:-6px;color:#ddd;}
.message-wrap .message-item  .state-icon{display:inline-block;background:url("/Content/Images/msg_tip_pic.png") 0 0 no-repeat;position:absolute;right:0;top:0;width:38px;height:38px;background-size:38px;}
.message-wrap .message-item.state-unread .state-icon{background-position:0 0;}
.message-wrap .message-item.state-read .state-icon{background-position:0 -38px;}
.message-wrap .message-item.state-read dd{background-color:#fafafa;color:#999;}

/*消息详情*/
.msg-details-cont{background-color:#fff;border:1px solid #eaeaea;border-radius:6px;margin-top:12px;padding:10px;margin-bottom:30px;}
.msg-details-cont .msg-details-tit{padding:4px 0;font-size:15px;line-height:22px;}
.msg-details-cont .msg-details-date{color:#999;}
.msg-details-cont .msg-details-txt{line-height:22px;margin-top:8px;}
.msg-details-cont .msg-details-txt p{margin:6px 0;}

/*佣金明细*/
.commission-list-wrap .commission-head{padding:15px 12px;color:#fff;position: relative;}
.commission-list-wrap .commission-head p{color:#fbb7b4;font-size:12px;margin-bottom:4px;}
.commission-list-wrap .commission-head h3{font-size:20px;}
.commission-list-wrap .commission-head .sub-number{display: inline-block;position:absolute;right:12px;bottom:14px;color:#fbb7b4;}
.commission-list-wrap .commission-head .sub-number strong{color:#fff;}
.commission-complete{padding:12px 0;text-align: center;}
.commission-complete p,.commission-complete strong{line-height:14px;font-size:12px;color:#999;}
.commission-complete strong{font-size:16px;color:#333;}
.commission-menu-list li a{display: block;padding:6px 40px 6px 12px;line-height:36px;position: relative;font-size:16px;text-decoration: none;}
.commission-menu-list li a:hover{background-color:#f5f5f5;}
.commission-menu-list li a .right-arrow{position: absolute;right:12px;line-height:14px;top:50%;margin-top:-7px;color:#ddd;}
.commission-menu-list li a .menu-tag{display:inline-block;position: absolute;right:40px;font-size:14px;color:#e62420;}
.commission-menu-list li a .number{font-size:14px;color:#999;display: inline-block;margin-left:4px;}

.commission-mine-list li{padding:15px 12px;position:relative;}
.commission-mine-list li h3{margin-bottom:8px;}
.commission-mine-list li .tel{display: inline-block;color:#999;font-weight:400;}
.commission-mine-list li .return-cash{display: inline-block;position: absolute;right:12px;top:12px;color:#f42d28;}
.commission-mine-list li .date{font-size:12px;color:#999;margin-top:2px;}
.commission-mine-list li .money em{display: inline-block;margin-left:10px;}

/*我推荐的客户*/
.customer-head .user-head-handle li{width:50%;padding:4px 0;text-align:center;}
.customer-recommend-list li a{display: block;padding:15px 12px;position: relative;text-decoration: none;}
.customer-recommend-list li a h3{margin-bottom:8px;color:#333;}
.customer-recommend-list li a .tel{color:#999;font-weight:400;}
.customer-recommend-list li a .progress{height:0.6rem;margin-bottom:0.4rem;}
.customer-recommend-list li a .label{position: absolute;right:12px;top:13px;}
.customer-recommend-list li a .customer-pro{font-size:12px;text-align:right;}
.customer-recommend-list li a .customer-pro .col-xs-3{padding:0;color:#999;}
.modal-dialog{margin-top:80px;}
.customer-info  .form-group{margin-bottom:0;}

/*我邀请的经纪人*/
.customer-invite-list li a{display: block;position: relative;padding:15px 12px;text-decoration: none;color:#333;}
.customer-invite-list li a h3{margin-bottom:4px;color:#333;}
.customer-invite-list li a .tel{color:#999;font-weight:400;}
.customer-invite-list li a .iconfont{position: absolute;line-height:14px;right:12px;top:50%;margin-top:-7px;color:#999;}
.customer-invite-list li a em{display: inline-block;margin-right:15px;}

/*我的钱包*/
.mypurse-wrap{padding-bottom:120px;background-color:#fff;}
.mypurse-funds{text-align: center;padding:20px 0;}
.mypurse-funds .mypurse-funds-circle{display: inline-block;width:96px;height:96px;background-color:#f5f5f5;color:#ff9933;border-radius:50%;}
.mypurse-funds .mypurse-funds-circle em{display: inline-block;margin-top:28px;font-size:12px;}
.mypurse-funds .mypurse-funds-circle strong{display: block;font-size:22px;line-height:22px;}
.mypurse-handle{text-align: center;}
.mypurse-btn{display: inline-block;border:1px solid #ddd;background-color:#fff;font-size:16px;padding:6px 18px;border-radius:6px;text-decoration: none;}
.mypurse-btn .iconfont{display: inline-block;font-size:22px;line-height:22px;}
.mypurse-btn-disabled,.mypurse-btn-disabled:hover{cursor: not-allowed;color:#ddd;}
.mypurse-btn-yellow,.mypurse-btn-yellow:hover{background-color:#ff9933;color:#fff;border-color:#ff9933;text-decoration: none;}
.mypurse-account{
  padding:30px 12px 20px 12px;
}
.mypurse-account .seperator {
    display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
}
.mypurse-account .seperator .line{
    background: #e6e6e6;
    height: 1px;
    -webkit-box-flex: 1;
}
.mypurse-account .seperator .text {
    font-size: 15px;
    padding:0 10px;
    color:#d2d2d2;
}
.mypurse-account-list ul li{padding:15px 0;border-bottom:1px solid #eaeaea;position: relative;}
.mypurse-account-list ul li h4{font-weight:400;font-size:15px;color:#666;}
.mypurse-account-list ul li p{color:#999;margin-top:2px;font-size:12px;}
.mypurse-account-list ul li .money{display: inline-block;position: absolute;right:15px;top:50%;margin-top:-7px;line-height:14px;}

/*提现*/
.cash-noreal-wrap{padding-bottom:120px;}
.cash-noreal-wrap .cash-noreal-state{text-align:center;padding:40px 0 60px;font-size:15px;}
.cash-noreal-wrap .cash-noreal-state .iconfont{color:#dbdbdb;font-size:54px;line-height:54px;margin-bottom:10px;display: inline-block;}
.cash-certification-form .form-group{margin-bottom:0;}
.cash-noreal-wrap .cash-upload-files{padding-bottom:30px;}
.cash-noreal-wrap .cash-upload-files li{padding-top:20px;}
.cash-noreal-wrap .cash-upload-files li a{display: block;border:1px solid #eaeaea;border-radius:4px;background-color:#f5f5f5;padding:15px;text-align: center;position: relative;text-decoration:none;}
.cash-noreal-wrap .cash-upload-files li a:hover{text-decoration: none;color:#999;}
.cash-noreal-wrap .cash-upload-files li a .icon-upload{font-size:42px;color:#999;}
.cash-noreal-wrap .cash-upload-files li a .icon-close{position: absolute;top:-12px;right:-12px;z-index:100;font-size:24px;color:#fe3835;}
.cash-noreal-wrap .cash-upload-files li .upload-img{width:100%;}
.cash-noreal-wrap .tit-link{float:right;font-weight:400;color:#0db09b;text-decoration:none;}


.cash-form .label-text{position:absolute;left:0;display: inline-block;left:5px;top:16px;}
.cash-form .form-group{margin-bottom:0;}
.cash-form .form-position{border-bottom:1px solid #eaeaea;padding:10px 0;}
.cash-form input,.cash-form select{border:none;font-size:14px;}
.cash-form .form-select-label:after{right:18px;}
.cash-form .v-code-disable,.cash-form .v-code{margin-right:15px;}
.cash-form .cash-form-subtit{padding:5px 0 5px 5px;color:#999;}
.cash-form .bank-card-info p{font-size:12px;line-height:16px;}
.cash-tips{padding-bottom:100px;margin-top:15px;}
.cash-tips dt{margin-bottom:4px;}
.cash-tips dd{font-size:13px;line-height:24px;color:#999;}
.cash-form .v-code{padding:8px 10px;margin-top:0;margin-bottom:0;}

/*成功提示*/
.success-warp .success-cont{text-align: center;padding:30px 0;color:#999;}
.success-warp .success-cont .success-cont-icon{
      display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: #fff;
    text-align: center;
    line-height: 64px;
}
.success-warp .success-cont .success-cont-icon .iconfont{font-size:46px;color:#27c24c;display: inline-block;line-height:62px;}
.success-warp .success-cont h2{margin-top:12px;font-size:16px;margin-bottom:4px;color:#333;}


/*错误提示*/
.error-warp .error-cont{text-align: center;padding:30px 0;color:#999;}
.error-warp .error-cont .success-cont-icon{
      display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: #fff;
    text-align: center;
    line-height: 64px;
}
.error-warp .error-cont .success-cont-icon .iconfont{font-size:46px;color:#f05050;display: inline-block;line-height:62px;}
.error-warp .error-cont h2{margin-top:12px;font-size:16px;margin-bottom:4px;color:#333;}
.error-warp .error-tip-list{padding-left:35%;list-style-type:decimal;}

/*警告提示*/
.warning-warp .warning-cont{text-align: center;padding:30px 0;color:#999;}
.warning-warp .warning-cont .warning-cont-icon{
      display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: #fff;
    text-align: center;
    line-height: 64px;
}
.warning-warp .warning-cont .warning-cont-icon .iconfont{font-size:46px;color:#ff8903;display: inline-block;line-height:62px;}
.warning-warp .warning-cont h2{margin-top:12px;font-size:16px;margin-bottom:4px;color:#333;}
.warning-warp .warning-tip-list{padding-left:35%;list-style-type:decimal;}



/*全局提示*/
.global-prompt{background-color:#fff4da;display: block;color:#ff9933;font-size:13px;padding:5px 10px;}
.global-prompt:hover{text-decoration:none;color:#ff9933;}
.global-prompt .iconfont{color:#f6544b;display: inline-block;font-size:14px;}

/*推荐客户*/
.recommend-clients-cont{background-color:#f5524b;width:100%;color:#c02822;height:auto;padding-bottom:150px;height:100%;}
.recommend-fixed-btn{background-color:rgba(0,0,0,0.2);}
.recommend-mask,.recommend-mask-invite{
    position: fixed;
    left:0;
    top:0;
    background-position:top;
    background-repeat:no-repeat;
    background-size:cover;
    z-index:1800;
    width: 100%;
    height: 100%;
    background-image:url("/Content/Images/share.png?v=201512031615");
}
recommend-mask-invite {
    background-image:url("/Content/Images/share_invite.png?v=201512031615");
}
.recommend-list li{font-size:12px;margin-bottom:5px;}
.recommend-list li .iconfont{display:inline-block;line-height:4px;vertical-align:4px;}
.recommend-clients-cont .invite-name{
   border-radius:6px;
   padding:15px;
   margin:0 15px 15px 15px;
   border:1px solid #e84942;
   background-color:rgba(0,0,0,0.1);
   color:#fddd62;
}
.recommend-clients-cont .invite-name strong{display:inline-block;font-size:16px;margin-right:4px;}

.recommend-clients-cont .bg-red{
    background-color:#f5524b;
}
.recommend-clients-cont .btn-warning{
    background-color: #fff559;
    color: #f8432c;
    border-color: #f6ec4d;
}
.recommend-clients-apply .form-position .input-icon{
    color:#4b97e3;
}
.recommend-clients-apply{
    background-color:#4b97e3;
}
.recommend-clients-apply .recommend-list li{
    color:#fff;
}
.recommend-clients-apply .bg-red{
    background-color:#4b97e3;
}
.recommend-clients-apply .btn-warning{
    background-color:#fe6700;
    color:#fff;
}

/*邀请经纪人*/
.recommend-mask-invite{background-image:url("/Content/Images/share_invite.png?v=201512031615");}
.recommend-clients-cont .alert{border-radius:0;}
.invite-share-apply .btn-warning{background-color:#fff559;color:#f8432c;border-color:#f6ec4d;}


/*如何赚钱*/
.make-money .make-money-list li{background-color:#fff;padding:10px;border:1px solid #eaeaea;border-radius:4px;margin-top:15px;}
.make-money .make-money-list li .make-money-tit{margin-bottom:12px;line-height:20px;}
.make-money .make-money-subtit{margin:10px 0;}
.make-money .make-money-note{margin-top:6px;color:#999;}

/*小窝经纪人规则*/
.rule-introduction-list{border:1px solid #eaeaea;border-radius:4px;background:#fff;padding:12px;margin:10px 0 60px 0;}
.rule-introduction-list dl{margin-bottom:20px;}
.rule-introduction-list dl dt{margin-bottom:6px;}
.rule-introduction-list dd{line-height:24px;}
.rule-introduction-list dd p{text-indent:1.6em;margin-bottom:10px;}
.rule-introduction-list ul li{margin-bottom:15px;}
.rule-introduction-list ul li h4{margin-bottom:6px;}

/*小窝经纪人注册协议*/
.regist-protocol-cont{border:1px solid #eaeaea;border-radius:4px;background:#fff;padding:12px;margin:8px 0 20px 0;}
.regist-protocol-cont dl{margin-bottom:40px;}
.regist-protocol-cont dd p{text-indent:1.6em;margin:15px 0;line-height:24px;}

/*常见问题*/
.faq-menu-list li a{display:block;padding:0 15px;line-height:46px;text-decoration:none;color:#333;position:relative;border-bottom:1px solid #ebebeb;}
.faq-menu-list li a:hover{background:#fafafa;}
.faq-menu-list li a .right-arrow{display:inline-block;position:absolute;right:12px;top:50%;margin-top:-6px;line-height:12px;color:#ddd;}

/*专属二维码*/
.qrcode-cont{padding:15px 12px;text-align:center;}
.qrcode-cont .qrcode-item{margin-bottom:20px;padding-bottom:8px;background-color:#fff;border:1px solid #eaeaea;border-radius:4px;box-shadow:0 0 3px rgba(0,0,0,0.1);}
.qrcode-cont .qrcode-item h3{font-size:15px;padding:18px 0;margin-bottom:15px;border-top-left-radius:4px;border-top-right-radius:4px;color:#ddd;background:url("/Content/Images/qrcode_repeat_pic.png") 0 bottom repeat-x;}
.qrcode-cont .qrcode-item img{width:100%;}
.qrcode-cont .qrcode-item:first-child h3{background-color:#00a762;color:#a8dfc0;}
.qrcode-cont .qrcode-item:last-child h3{background-color:#0193e6;color:#b0cfee;}
.qrcode-cont .qrcode-item h3 strong{color:#fff;font-size:18px;}

/*风云榜*/
.leader-board-hd img{width:100%;}
.leader-board-bd{
  margin-top:-30px;
  padding-bottom:25px;
}
.leader-board-tab{
  margin-bottom:12px;
}
.leader-board-tab a{
    display: block;
    line-height: 42px;
    width:50%;
    float: left;
    text-align: center;
    color: #996600;
    font-size: 15px;
    background:url("/Content/Images/board_tab_bg.png?v=201512291612") 50% 50% no-repeat;
    background-size:98px;
    text-decoration: none;
    position: relative;
    z-index:6;
    text-shadow:1px 1px 1px rgba(255,255,255,0.6);
}
.leader-board-tab a:hover{
  opacity:0.8;
}
.leader-board-tab a.current{
    color: #c11d1e;
    opacity:1;
    font-weight:700;
}
.ranking-line{
  margin:0 6px;
  background-color:#da3232;
  height:16px;
  border:1px solid #cd2727;
  border-radius:8px;
}
.ranking-list-item{
  margin:-8px 13px 0 13px;
  padding:12px;
  box-shadow:0 0 5px rgba(0,0,0,0.2);
  background:#ffecbf url("/Content/Images/qrcode_repeat_pic_red.png?v=201512291612") 0 bottom repeat-x;
  border-top:4px solid #fae6b5;
}
.ranking-top li{
  background-color:#f6e2b2;
  height:42px;
  line-height:42px;
  color:#996600;
  border-radius:21px;
  margin-bottom:15px;
  position: relative;
  text-shadow:1px 1px 1px rgba(255,255,255,0.6);
}
.ranking-top li .money{
  position: absolute;
  right:12px;
}
.ranking-top li .tel{
  position:absolute;
  left:50%;
  margin-left:-20px;
}
.ranking-top li .icon-circle{
  display: inline-block;
  height:42px;
  width:42px;
  text-align:center;
  line-height:42px;
  background:linear-gradient(#fae82d 0%, #f2bf1b 100%);
  background-color:#fae82d;
  border-radius:21px;
  color:#d68810;
  font-weight:700;
  font-size:20px;
  text-shadow:1px 1px 1px rgba(255,255,255,0.4);
  box-shadow:1px 1px 1px rgba(0,0,0,0.2) inset;
}

/*注册成功*/
.attention-cont{padding:15px 12px;text-align:center;}
.attention-cont .attention-item{margin-bottom:20px;padding-bottom:8px;background-color:#fff;border:1px solid #eaeaea;border-radius:4px;box-shadow:0 0 3px rgba(0,0,0,0.1);}
.attention-cont .attention-item h3{font-size:16px;padding:18px 0;margin-bottom:15px;border-top-left-radius:4px;border-top-right-radius:4px;color:#fff;background:#f05050 url("/Content/Images/qrcode_repeat_pic.png") 0 bottom repeat-x;}
.attention-cont .attention-item img{width:100%;}

/*二维码切换*/
.x-tab{padding:16px 10px;text-align:center;}
.x-tab .x-tab-bd{border:1px solid #ff6600;border-radius:4px;display:inline-block;}
.x-tab .x-tab-bd span{display:inline-block;line-height:32px;padding:0 15px;}
.x-tab .x-tab-bd span.active{background-color:#ff6600;color:#fff;}


/*暂无记录*/
.no-record{
  text-align: center;
}
.no-record .no-record-icon{
  font-size:58px;
  color:#d8d8d8;
}
.no-record .tit{font-size:16px;font-weight:700;}
.no-record .sub-tit{color:#999;}


/*任务确认*/
.task-affirm-list{
  padding:0 .9375rem;
}
.task-affirm-list .task-affirm-item{
  display:block;
  text-decoration:none;
  background-color:#fff;
  padding-left:10px;
  line-height:44px;
  margin-top:15px;
  font-size:15px;
  position:relative;
}
.task-affirm-list .task-affirm-item:hover{
  text-decoration: none;
  color:#666;
  background-color:#f0f3f4;
  opacity:0.9;
}
.task-affirm-list .task-affirm-item .affirm-select{
  display: inline-block;
  text-align: center;
  height:44px;
  width:44px;
  line-height:44px;
  position:absolute;
  right:0;
  top:0;
}
.task-affirm-list .task-affirm-item .affirm-finish{
  background-color:#27c24c;
  color:#fff;
}
.task-affirm-list .task-affirm-item .affirm-undone{
  background-color:#f05050;
  color:#fff;
}
.task-affirm-popup{
  position:fixed;
  width:90%;
  z-index:1000;
  background-color:#fff;
  border-radius:10px;
  top:50%;
  left:50%;
  margin-left:-45%;
  margin-top:-45%;
}
.task-affirm-popup .task-affirm-popup-cont{
    padding:15px 20px;
}
.task-affirm-popup .task-affirm-popup-tips{
  padding:12px 0;
  margin-bottom:8px;
  text-align: center;
}
.task-affirm-popup .task-affirm-popup-input{
  width:100%;
  border:1px solid #eaeaea;
  border-radius:2px;
  padding:5px;
  font-size:16px;
  line-height:32px;
  text-align: center;
  font-weight:700;
  -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}
.task-affirm-popup .task-affirm-popup-btn{
  display: block;
  text-decoration: none;
  text-align: center;
  line-height:46px;
  background-color:#ff9933;
  color:#fff;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  font-size:16px;
}
.popup-btn-cont{padding:20px 0 8px;overflow:hidden;zoom:1;}
.popup-btn{display: inline-block;width:48%;text-align: center;line-height:40px;border-radius:6px;border:1px solid #e0e0e0;text-decoration:none;float:left;font-size:16px;}
.popup-btn-cancel{margin-right:4%;}
.popup-btn-cancel:hover{color:#333;background-color:#fafafa;text-decoration: none;}
.popup-btn-affirm{background-color:#ff8d04;border-color:#ff8d04;color:#fff;}
.popup-btn-affirm:hover{color:#fff;text-decoration: none;opacity:0.9;}

/*弹框状态提示*/
.popup-state{
  padding:15px 0;
  text-align: center;
}
.popup-state .popup-state-icon{
    display: inline-block;
    width:64px;
    height:64px;
    border-radius:32px;
    background-color:#efefef;
    text-align: center;
    line-height:64px;
}
.popup-state .popup-state-icon .iconfont{
  font-size:40px;
  color:#ff8d04;
}
.popup-state-warning .popup-state-icon .iconfont{
  color:#ff8d04;
}
.popup-state-success .popup-state-icon .iconfont{
  color:#27c24c;
}
.popup-state-danger .popup-state-icon .iconfont
{
  color:#f05050
}
.popup-state .popup-state-text{
  font-size:16px;
}


/*认证身份*/
.cash-noreal-wrap .approve-certification-form .form-position{
  padding-left: 80px !important;
}

/*考核*/
.assess-wrap{width:100%;padding-bottom:60px;}
.assess-wrap .assess-topic .assess-topic-ask{background-color:#fff;padding:12px 0.9375rem;font-size:15px;line-height:24px;}
.assess-wrap .assess-topic-answer{padding:0 0.9375rem;padding-top:20px;}
.assess-wrap .assess-topic-answer .assess-topic-select{
  display: block;
  text-decoration: none;
  margin-top:15px;
  background-color:#fff;
  position:relative;
}
.assess-wrap .assess-topic-answer .assess-topic-select:hover{
  color:#333;
}
.assess-wrap .assess-topic-answer .assess-topic-letter{
  display: inline-block;
  width:42px;
  height:42px;
  text-align: center;
  line-height:42px;
  position: absolute;
  left:0;
  top:50%;
  margin-top:-21px;
}
.assess-wrap .assess-topic-answer .assess-topic-text{
  border-left:1px solid #f0f0f0;
  margin-left:42px;
  padding:10px 6px 10px 12px;
}
.assess-wrap .assess-topic-answer .assess-topic-correct .assess-topic-text{
  border-left:1px solid #27c24c;
}
.assess-wrap .assess-topic-answer .assess-topic-correct .assess-topic-letter{
  background-color:#27c24c;
  color:#fff;
}

.assess-wrap .assess-topic-answer .assess-topic-error .assess-topic-text{
  border-left:1px solid #f05050;
}
.assess-wrap .assess-topic-answer .assess-topic-error .assess-topic-letter{
  background-color:#f05050;
  color:#fff;
}

.assess-wrap .assess-grade{
  padding:0 0.9375rem;
}
.assess-wrap .assess-grade .assess-grade-figure{
  text-align: center;
  padding:30px 0;
}
.assess-wrap .assess-grade .assess-grade-figure .assess-grade-circle{
  display: inline-block;
  width:86px;
  height:86px;
  background-color:#fff;
  line-height:86px;
  border-radius:50%;
  font-size:24px;
}
.assess-wrap .assess-grade .assess-grade-result{
  font-size:24px;
  margin-top:20px;
  font-weight:700;
}
.assess-wrap .assess-grade-pass .assess-grade-result,.assess-wrap .assess-grade-pass .assess-grade-figure .assess-grade-circle{
  color:#0db09b;
}
.assess-wrap .assess-grade-notpass .assess-grade-result,.assess-wrap .assess-grade-notpass .assess-grade-figure .assess-grade-circle{
  color:#f05050;
}

/*开通账号*/
.dredge-accounts-form{padding:0 12px;}
.dredge-accounts-form .register-form{border:1px solid #e9e9e9;border-radius:4px;}
.dredge-accounts-form .form-position{border-radius:0;}
.dredge-accounts-form .form-group:last-child .form-position{border-bottom:none;}
.dredge-accounts-wrap .dredge-accounts-form .form-position{
    padding-left: 60px !important;
    position: relative;
}
.dredge-accounts-form .label-text{left:10px;}
.dredge-accounts-form .dredge-accounts-code{padding-right:90px;}
.dredge-send{
    position: absolute;
    top: 13px;
    right: 8px;
    display: inline-block;
    background-color: #ff8903;
    text-align: center;
    cursor: pointer;
    color: #fff;
    height: 26px;
    line-height: 26px;
    z-index:50;
    font-size:12px;
    border-radius:14px;
    width:80px;
}
.dredge-send-disabled{
    cursor: not-allowed;
    background-color: #d3d3d3;
    color: #999;
}

/*考核提示*/
.dredge-hint-tip{text-align: center;padding:40px 0;font-size:18px;}


/*预约时间*/
.task-details-change-wrap{padding-bottom:100px;}
.task-details-change-wrap .task-details-cont{background-color:transparent;}
.task-details-change-wrap .task-details-cont .info{background-color:#fff;}
.task-details-change-wrap .changetime-tits-affirm{color:#999;padding-left:12px;}


/*会员等级*/
.member-grade-wrap{background-color:#fff;}
.member-grade-icon{text-align: center;padding:30px 0;}
.member-grade-icon span{display: inline-block;width:90px;height:90px;background-color:#fff;border:1px solid #eaeaea;border-radius:60px;padding:15px;}
.member-grade-icon span img{width:100%;}
.member-grade-icon p{margin-top:6px;}
.member-grade-tip{font-size:16px;}

/*我的积分*/
.integral-wrap-icon{
  background-color:#ff9933;
  color:#fff;
  padding:30px 0;
  text-align: center;
  font-size:12px;
}
.integral-wrap-icon p{font-size:32px;font-weight:400;line-height:32px;}

@media screen and (max-width:320px){
 .recommend-clients-cont,.index-warp{height: auto;}
 .index-menu-list{margin-bottom:100px !important;}
}
